* {
    margin: 0;
    padding: 0;
}


a {
    padding: 20px;  
    text-decoration: none;
    color: white;
}

#navbar li, a {
    display: inline-block;
}

#navbar {
    background-color: black;
    display: flex;
    justify-content: space-around; 
    position: sticky;
    top: 0;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}  

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    border: none;
    background-color: inherit;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.link:hover {
    color: green;
}

.dropbtn:hover {
    color: green;
}

#Contacter p {
    display: none;
}

.case {
    width: 200px;
    border-style: solid;
    border-color: black;
    border-radius: 3px;
    height: 20px;
}
 
textarea {
    border-style: solid;
    border-color: black;
    border-radius: 3px;
    border-width: 2px;
}

input:first-child {
    margin-top: 20px;
}

h1 {
    text-align: center;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    color: white;
    background-color: black;
    border-style: solid;
    border-radius: 10px ;
    width: 100px;
    height: 20px;
}

body {
    background-color: #f9f9f9;
}

section {
    text-align: center;
}

label {
    font-weight: bold;
}
